body{
    background-color: #f1f1f1;
    color: #0f141e; /*Цвет текста*/
    font-size: 16px; /*Размер текста*/
    font-weight: normal; /*Жирность текста*/
    font-family: "Lucida Sans", Cambria, Cochin, Georgia; /*Стилистика шрифта*/
    /*font: normal 16px 'Roboto', sans-serif;*/
    }
.avatar {
    width: 150px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: uppercase;*/
    /*letter-spacing: 5px;*/
    /*word-spacing: 42px;*/
}
/* Box Model */
.container {
max-width: 750px;
    margin: auto;
}

.social {
    background: green;
    /*padding: 15px;*/
    /*padding: 15px 40px;*/
    /*padding: 15px 20px 25px 30px;*/
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin: 20px;

    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: blue;
}

